Repository gecut/gecut, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, enhancement, test, ui, core, uniquely, api, pwa

chore: update settings.json
  .vscode/settings.json
Labels: none

build(deps): update package.json and yarn.lock
  package.json
  yarn.lock
Labels: none

feat(core/types): define server types
  packages/core/types/src/index.ts
  packages/core/types/src/lib/server.ts
Labels: core

feat(api/salavat): logger base configuration
  packages/uniquely/api/salavat/demo.http
  packages/uniquely/api/salavat/src/app/app.ts
  packages/uniquely/api/salavat/src/app/logger.ts
  packages/uniquely/api/salavat/src/app/routes/root.ts
  packages/uniquely/api/salavat/src/main.ts
Labels: uniquely, api

chore: update settings.json
  .vscode/settings.json
Labels: none

chore: update .eslintrc.json
  .eslintrc.json
Labels: none

chore: create .eslintcache
  .eslintcache
Labels: none

build(deps): update package.json and yarn.lock
  package.json
  yarn.lock
Labels: none

feat(lint): config in project
  packages/core/lorem/project.json
  packages/core/types/project.json
  packages/ui/mixins/project.json
Labels: ui, core

style(eslint): eslint bugs
  packages/core/lorem/src/lib/lorem-ipsum/lorem-ipsum.ts
  packages/core/types/src/index.ts
  packages/ui/mixins/src/lib/logger.ts
Labels: ui, core

.github/labeler.yml:

documentation:
  - any:
      - '**.md'

enhancement:
  - any:
      - '**.ts'

test:
  - '**.spec.ts'
  - '**.spec.js'

ui:
  - packages/ui/**

core:
  - packages/core/**

uniquely:
  - packages/uniquely/**

api:
  - packages/uniquely/api/**

pwa:
  - packages/uniquely/pwa/**
